<div class="container">
<footer class="footer">
<small>
Copyright &copy; <a href="http://www.ahtaroo.com.mm">Alpha Blog - Ruby on Rails Project</a>
by Developer Jinny Saw
</small>
<nav>
<ul>
<li><%= link_to "About", about_path %></li>
</ul>
</nav>
</footer>
</div>